@model IEnumerable<MusicProject.Models.Song>

<div id="searchresults">
    <ul class="autocomplete">
        @foreach (var item in Model)
        {
            <li>@item.Title</li>
        }
    </ul>
</div>